html {
  font-size: 14px;
}

body {
    padding-top: 6rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.DishList td:nth-child(3) {
    width: 40%;
}

@media (min-width: 768px) {
    .custom-fixed {
        position: fixed;
    }
}