@page
@model LoginModel

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <section>
            <form id="account" method="post">
                <h1 class="fw-light text-lg-start mt-4 mb-2">Log in</h1>
                <p>or  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">create an account</a></p>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="form-label">Email address</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <partial name="_MenuGalleryPartial" />           
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
