@model RestaurantMenu.Models.Dish
@{
}
<div class="row">
    <div class="col-md-4 pt-md-5">
        <section>
            <form class="pt-md-5 w-40" asp-action="Add" method="post" enctype="multipart/form-data">
                <h2 class="pb-10 mb-2">Add Dish</h2>
                <div class="form-group mb-3">
                    <label asp-for="Title" class="form-label w-40">Dish Name</label>
                    <input type="text" class="form-control" asp-for="Title">
                </div>
                <div class="message-box pd-x-28 error">
                    <span asp-validation-for="Title" class="text-danger"> </span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ImageFile" class="form-label w-40">Image</label>
                    <input type="file" asp-for="ImageFile">
                </div>
                <div class="message-box pd-x-28 error">
                    <span asp-validation-for="ImageFile" class="text-danger"> </span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Ingredients" class="form-label w-40">Ingredient</label>
                    <select asp-items="Model.IngredientList" class="form-select" asp-for="Ingredients" multiple>
                        <option value="">--select--</option>
                    </select>
                </div>
                <div class="message-box pd-x-28 error">
                    <span asp-validation-for="Ingredients" class="text-danger"> </span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Price" class="form-label w-40">Price</label>
                    <input type="text" class="form-control" asp-for="Price">
                </div>
                <div class="message-box pd-x-28 error">
                    <span asp-validation-for="Price" class="text-danger"> </span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="alert alert-info mb-1">
                        @TempData["msg"]
                    </div>
                }

                <div class="input-container">
                    <button class="btn btn-default btn-primary" type="submit">Save</button>
                    <a class="btn btn-secondary" href="/Dish/DishList">All records</a>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 offset-md-2">
        <partial name="_MenuGalleryPartial" />
    </div>
</div>