@model IEnumerable<RestaurantMenu.Models.Ingredient>
@{
}
<div class="tbl-container">
    <div class="row mt-5">
        <h2>List of Ingredients</h2>
        <div class="col-md-7 table-responsive">
            <table class="table table-bordered align-middle mb-10 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th class="fw-medium">Name</th>
                        <th class="fw-medium">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.IngredientName
                        </td>
                            <td>
                                <a href="/Ingredient/Edit?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                <a onclick="return window.confirm('Are you sure?')" href="/Ingredient/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-5">
            <div class="form-outline mb-4">
                <a href="/Ingredient/Add" class="btn btn-success btn-block">Add more Ingredients</a>
            </div>
        </div>
        </div>
</div>