@using Microsoft.AspNetCore.Identity
@using RestaurantMenu.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav me-2">
@if (SignInManager.IsSignedIn(User))
{   
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @{
                    var @user = await UserManager.GetUserAsync(User);
                    var profilePictureFileName = user.ProfilePicture;
                    var profilePictureUrl = $"/Assets/ProfilePictures/{profilePictureFileName}";

                }
                @if (!string.IsNullOrEmpty(user.ProfilePicture))
                {
                    <img src="@Url.Content(profilePictureUrl)" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%;" />
                }
                @if (!string.IsNullOrEmpty(user.Name))
                {
                    <span>@user.Name</span>
                }
                else
                {
                    <span>@User.Identity?.Name!</span>
                }
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile</a></li>  
                <li>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">
                        Logout
                    </a>
                    <form id="logoutForm" class="d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                        <button class="btn btn-outline-none" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
